@font-face{
    font-family: "mtropical";
    src: url("Banana\ Island\ Personal\ Use.ttf");
}
@font-face {
    font-family: "tropical";
    src: url("THE TURTLE.ttf");
}

@font-face {
    font-family: "maritim";
    src: url("Tropical\ Land.ttf");
}

@font-face {
    font-family:"minikraf";
    src: url("minecraft.ttf.ttf")
    /* tambah font kene */
}

*{
    margin: 0;
    padding: 0;
}
.header{
    height: 110px;
    border-color: rgb(4, 13, 31);
    border-width: 25cm;
    background-image:linear-gradient(rgba(30, 30, 4, 0.644),rgba(30, 30, 4, 0.664)) ,url(gmbr/market\ header.jpg);
    width: 100%;
}
nav{
    display: flex;
    padding: 4% 6%;
    justify-content: space-between;
    align-items: center;
    font-family:"minikraf";
    /* header */ 
}
nav img{
    width: 150px
    /* logo */
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: rgb(9, 197, 9);
    display: block;
    margin: auto;
    transition: 0.5s;
    /* garis hejo */
}
.nav-links ul li:hover::after{
    width: 100%;
}

.body{
    font-family: "maritim";
    min-height: 100%;
    overflow: none;
    background-size: cover; 
    background-position: center;
    background-image:linear-gradient(rgba(9, 31, 17, 0.781),rgba(13, 34, 22, 0.863)),url(gmbr/pasar\ apung.jpg);
}   

.UI img{
    transition: 1s;
}

.UI img:hover{
    transform: scale(1.1);
}